@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    --background: #f5f5f5;
    --foreground: #333;
    --primary-50: #f1f8f2;
    --primary-100: #dcefde;
    --primary-200: #bcdec2;
    --primary-300: #90c59d;
    --primary-400: #60a773;
    --primary-500: #489d62;
    --primary-600: #2d6e42;
    --primary-700: #245836;
    --primary-800: #1f462d;
    --primary-900: #1a3a26;
    --primary-950: #0e2015;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #222;
        --foreground: #fff;
    }
}

/* Font declarations */
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {
    font-family: 'Optima';
    src: url('/fonts/Optima.ttf');
}

/* Basic Styles */
html,
body {
    @apply h-full;
}
body {
    @apply bg-background text-foreground;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}
h1 {
    @apply text-5xl;
    font-family: 'Optima', sans-serif;
}
h2 {
    @apply text-4xl;
    font-family: 'Optima', sans-serif;
}
h3 {
    @apply text-3xl;
    font-family: 'Optima', sans-serif;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}
p a {
    @apply font-medium text-primary-600 underline hover:text-primary-700 hover:no-underline dark:text-primary-500 dark:hover:text-primary-600;
}
p strong {
    @apply font-semibold;
}

/* Navigation Styles */
a.nav-item {
    @apply flex items-center w-12 lg:w-full gap-3 my-1 py-3 px-3 lg:px-5 rounded-full text-zinc-400 hover:text-white hover:bg-white dark:hover:bg-black/50 transition-all duration-200;
}
a.nav-item.active {
    color: white !important;
}

/* Layout Styles */
.card {
    @apply bg-white dark:bg-zinc-950 dark:border-x-zinc-600;
}

/* Form Styles */
form label {
    @apply block text-sm font-medium;
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
    @apply block w-full rounded-full border border-gray-300 bg-gray-50 dark:bg-zinc-900 dark:border-zinc-600 py-2 px-5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500;
}
button,
input[type='button'] input[type='submit'] {
    @apply py-2 px-4 hover:bg-white dark:hover:bg-black/50 transition-all duration-200;
}
button.action-btn {
    @apply flex items-center justify-center w-14 lg:w-full h-14 gap-3 rounded-full text-white font-bold bg-primary-500 hover:bg-primary-600 transition-all duration-200;
}
button.tab {
    @apply py-2 px-4 rounded-full text-zinc-300 hover:text-white hover:bg-white dark:hover:bg-black/50 transition-all duration-200;
}
button.tab.active {
    @apply text-primary-500;
}
div.tab-separator {
    @apply w-full h-[2px] mt-3;
}
div.tab-separator.active {
    @apply bg-primary-500;
}
